# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Jeesite\NewJSD2012_Git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
